.FilterBlock {
    margin: 0 auto;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.Field {
    width: 100%;
    overflow-y: scroll;
    border: solid black 1px;
    height: 100px;
    padding-right: 200px;
 
}

input:nth-child(2) {
    width: 60%;
}