* {
    margin: 0;
    padding: 0;
  }
  
  .Market table {
    border-collapse: collapse;
  }
  
  .Market td, .Market th {
    padding: 5px;
    border: 1px solid black;
    text-align: center;
  }

  .Market th:last-child {
    width: 180px;
  }
  
  .Market .MarketTitle {
    background-color: orange;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    margin: 0 auto;
  }

  .Market .Container {
    display: flex;
    margin: 0 30px 0 30px;
    gap: 30px;
  }

  .Market .TableBlock {
    display: flex;
    flex-direction: column;
  }

  .Market .ButtonAddItem {
    width: 100px;
    height: 30px;
    margin: 20px 0 20px 0;
  }

  .Market button {
    margin: 0 5px 0 5px;
    cursor: pointer;
  }